@using Whitely.Domain.Enum;
@using Whitely.Domain.Models; 
@model List<RealProperty>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/admin-style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7 user-scalable=no">
    <link rel="icon" href="/img/logo.png">
    <title>Whitely - Admin panel</title>
</head>
<body>
    <header class="header__wrapper">
        <div class="header">
            <span class="logo"><a href="/">Whitely</a></span>
            <nav class="navbar">
                <div class="item"><a href="/">Home</a></div>
                <div class="item"><a href="#">Privacy</a></div>
                <div class="item"><a href="#">About Us</a></div>
                <div class="item"><a href="alloffers.html">Search</a></div>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="sidebar-panel">
            <div class="title">Admin panel</div>

            <ul class="tabs">
                <li data-tab-target=".add-entry" class="tab tab-active">
                    Add
                </li>
                <li data-tab-target=".edit-remove" class="tab">
                    Edit / Remove
                </li>
                <li style="display: none;" data-tab-target=".edit-users" class="tab">
                    Edit Users
                </li>
            </ul>
        </section>

        <section class="control-panel">
            <div class="add-entry active" data-tab-content>
                <div class="tab-title">Add new entry</div>

                <form enctype="multipart/form-data" asp-action="NewRealProp">
                    <div class="article-title">
                        <label for="text">Title: </label>
                        <input name="title" type="text">
                    </div>

                    <div class="article-type">
                        <label for="type">Type: </label>
                        <select name="type" id="type-select">
                            <option value="">Select type</option>
                            <option value="@Categories.Warehouse">@Categories.Warehouse</option>
                            <option value="@Categories.Office">@Categories.Office</option>
                            <option value="@Categories.CarWash">@Categories.CarWash</option>
                            <option value="@Categories.Garage">@Categories.Garage</option>
                            <option value="@Categories.Area">@Categories.Area</option>
                        </select>
                    </div>

                    <div class="article-text">
                        <label for="text">Text: </label>
                        <textarea name="text" cols="30" rows="4"></textarea>
                    </div>

                    <div class="article-rent">
                        <label for="text">Rent: </label>
                        <input name="rent" type="text">USD / m²
                    </div>

                    <div class="article-buy">
                        <label for="text">Buy: </label>
                        <input name="buy" type="text">USD / m²
                    </div>

                    <div class="article-buy">
                        <label for="text">Area: </label>
                        <input name="area" type="text">m²
                    </div>

                    <div class="article-buy">
                        <label for="text">Image: </label>
                        <input name="image" type="file" accept="image/png">
                    </div>

                    <input class="btn" value="Submit" type="submit" />
                </form>
            </div>

            <div class="edit-remove" data-tab-content>
                <table class="articles-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>Text</th>
                            <th>Rent</th>
                            <th>Buy</th>
                            <th>Delete</th>
                            <th>Edit</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.Type</td>
                                <td>@item.Area m²</td>
                                <td>@item.Text</td>
                                <td>@item.RentPrice$</td>
                                <td>@item.BuyPrice$</td>
                                <td><a href="DeleteRealProperty/@item.Id" class="btn-delete">Delete</a></td>
                                <td><a href="Edit/@item.Id" class="btn-edit">Edit</a></td>
                                <td><a href="/Home/Offer/@item.Id" class="btn-edit">View</a></td>
                            </tr>
                        }
                    </tbody>
                  </table>
            </div>
            
            <div class="edit-users" data-tab-content>
                In progress...
            </div>
        </section>
    </main>
    
    <footer class="footer__wrapper">
        <div class="footer">
            <div class="logo"><a href="/">Whitely</a></div>
            <div class="copyright">Copyright Whitely © 2007-2022. All rights reserved</div>
        </div>
    </footer>

    <script src="/script/script-admin.js"></script>
</body>
</html>